extends layout.pug

block content

  article.portfolio-intro

   
    h1 Hey, Visitor! Let's build Together.

 
    p Take a look around  and find out the ways I can  help you build your dreams into reality!


  article.portfolio-project-thumbs
    .projects-box.box.grid
      
   

      each   project, index in projects
        .cell
          a(href="")
            img.thumbnail(src=project.image_urls[0])
            h5=project.project_name


        


  

