<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='../images/profilePics/profile-picture550x350.jpg', alt='A picture of the portfolio owner')
        .dev-intro-box

          
          h5 Sergio Andrés Herrera Velásquez

         
          p I am transitioning into the tech space at my current company, focusing on Robotic Process Automation (RPA), software development, and data analysis. To enhance my expertise, I have completed several Techdegrees with Treehouse:
          h6  Python Development:
          p Equipped me with the skills to build applications using Python, emphasizing best practices and real-world problem-solving.
          h6 Data Analysis:
          p Learned to interact with data using spreadsheets, databases, and Python, developing strategic, data-driven storytelling skills.
          h6 Full-Stack JavaScript:
          p Gained proficiency in both client-side and server-side development, mastering technologies like HTML, CSS, JavaScript, Node.js, databases, and APIs.
          p These comprehensive programs have provided me with practical experience and a robust portfolio, enabling me to drive innovation and make a meaningful impact in the tech community.

         
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          
          span Sergio Andrés Herrera Velásquez

      block content

  script(src='/static/js/script.js')